<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Course Manager</title>
  </head>
  <body>
    <!-- Main Body of Page -->

    <div class="wireframe">

            <h3 class="margin-bottom">Field Agent</h3>
            <form class="margin-bottom">
                <div class="form-row">
                    <div class="form-group col">
                        <label>First Name</label>
                        <input class="form-control" value="Fulvia ">
                    </div>
                    <div class="form-group col">
                        <label>Middle Name</label>
                        <input class="form-control" value="M">
                    </div>
                    <div class="form-group col">
                        <label>Last Name</label>
                        <input class="form-control" value="Scandwright">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Birth Date</label>
                        <input class="form-control" type="date" value="1982-11-23">
                    </div>
                    <div class="form-group col">
                        <label>Height</label>
                        <input class="form-control" type="number" value="68">
                    </div>
                </div>
                <fieldset>
                    <legend>Agency</legend>
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Identifier</label>
                            <input class="form-control" value="SC-123-REX9">
                        </div>
                        <div class="form-group col">
                            <label>Agency</label>
                            <select class="form-control">
                                <option>- Select -</option>
                                <option>CIA</option>
                                <option>NSA</option>
                                <option selected>Southern Reach</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label>Security Clearance</label>
                            <select class="form-control">
                                <option>- Select -</option>
                                <option>Confidential</option>
                                <option selected>Secret</option>
                                <option>Top Secret</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col">
                            <label>Activation Date</label>
                            <input class="form-control" type="date" value="2002-04-12">
                        </div>

                        <div class="form-group col align-self-end">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" checked>
                                <label class="form-check-label">Is Active</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <img src="psychologist.jpg">
                </div>
                <div class="form-group">
                    <label>Picture Url</label>
                    <input class="form-control" type="url"
                        value="http://corbos.github.com/field-agent/psychologist.jpg">
                </div>

                <button class="btn btn-primary">Save</button>
                <button class="btn btn-secondary">Cancel</button>
            </form>

            <hr />

            <div class="row margin-bottom">
                <div class="col">
                    <h3>Assignments</h3>
                </div>
                <div class="col right">
                    <button class="btn btn-primary">Add An Assignment</button>
                </div>
            </div>
            <table class="table table-striped">
                <caption>
                    (Sort Assignments by Date)
                </caption>
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Belarus</td>
                        <td>2/6/2005</td>
                        <td>1/28/2006</td>
                        <td>
                            <button class="btn btn-danger">Delete</button>
                            <button class="btn btn-secondary">View/Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Belgium</td>
                        <td>12/17/2006</td>
                        <td>8/30/2007</td>
                        <td>
                            <button class="btn btn-danger">Delete</button>
                            <button class="btn btn-secondary">View/Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Barbados</td>
                        <td>2/26/2008</td>
                        <td>11/2/2008</td>
                        <td>
                            <button class="btn btn-danger">Delete</button>
                            <button class="btn btn-secondary">View/Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    <!-- End main body -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>;